page-success-card-success {
    background: #f5f5f5;
     .bar-button-default-md{
    position: absolute;
    z-index: 100;
  }
    ion-title{
      background: #302e2f;
      color: #fff;
      .toolbar-title-ios,.toolbar-title{
        color: #fff;
      }
       .toolbar-title-md{
         text-align: center
      }

    }
    .toolbar-background{
       background: #302e2f !important;
    }
    .bar-button {
      color: #fff !important;
    }
    ion-content {

      &.content-ios,&.content{
          background: #f5f5f5;
      }
      section{
        border-top: 1px solid #ffb700;
        padding: 0 15px 60px 15px;
       background: #fff;
        img{
          margin: 55px auto 17px;
          width: 36%;
          display: block;
        }
        h1{
          font-size: 20px;
          text-align: center;
        }
         p{
           font-size: 15px;
           color: #999;
           text-align: center;
           line-height: 21px;
         }


      }
      .button-ios,  .button {
         border-radius: 4px;
         height: 2.8em;
         font-size: 1.6rem;
         color: #fff;
         background-color: #ddd;
         margin: 20px 0.2rem 0;
         padding: 0 1em;
         display: block;
         width: 100%;
         border-radius: 22px;
     }

     .button-ios.activated,.button.activated{
       background-color: #ddd;
     }

    }
}
