// @font-face {
//   font-family: 'icomoon';
//   src:  url('fonts/icomoon.eot?crw1cb');
//   src:  url('fonts/icomoon.eot?crw1cb#iefix') format('embedded-opentype'),
//     url('fonts/icomoon.ttf?crw1cb') format('truetype'),
//     url('fonts/icomoon.woff?crw1cb') format('woff'),
//     url('fonts/icomoon.svg?crw1cb#icomoon') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
$font-path: '../assets/fonts';
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'wecare';
  src: url('#{$font-path}/wecare.eot?l80w4l');
  src: url('#{$font-path}/wecare.eot?l80w4l#iefix') format('embedded-opentype'), url('#{$font-path}/wecare.ttf?l80w4l') format('truetype'), url('#{$font-path}/wecare.woff?l80w4l') format('woff'), url('#{$font-path}/wecare.svg?l80w4l#wecare') format('svg');
}

.wecare {
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'wecare' !important;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}
.ion-ios-smart-outline:before, .ion-ios-smart:before, .ion-md-smart-outline:before, .ion-md-smart:before, .ion-ios-my-outline:before, .ion-ios-my:before, .ion-md-my-outline:before, .ion-md-my:before, .ion-ios-text-outline:before, .ion-ios-text:before, .ion-md-text-outline:before, .ion-md-text:before,
//  .ion-ios-tell-outline:before,
.ion-ios-tell:before,
//  .ion-md-tell-outline:before,
.ion-ios-cards-outline:before,
.ion-ios-cards:before,
.ion-ios-code:before,
.ion-ios-moblie:before,
.ion-ios-pass:before,
.ion-ios-person:before,
.ion-ios-person:before,
.ion-ios-person:before,
.ion-md-cards-outline:before,
.ion-md-cards:before,
.ion-md-code:before,
.ion-md-moblie:before,
.ion-md-pass:before,
.ion-md-person:before,
.ion-md-person:before,
.ion-md-person:before,
.ion-md-tell:before {
  @extend .wecare;
}
