page-auth-mobile-forgot-password {
    .header {
        .toolbar {
            .back-button{
                color: #fff;
            }
            .toolbar-content{
                 .toolbar-title {
                        color: #fff;
                    }
            }
        }
    }
    .order-detail-btn{
        .button-default{
            background-color: #ffb700;
            color: #fff;
        }
    }
    .toolbar-background {
        background: #302e2f;
    }
}
